<h2> Your Cart </h2>
<% @items.each do |id, count| %>
  <% item = Item.find(id) %>
  Title:<%= item.title %></br>
  Price:<%= item.price %></br>
  Description:<%= item.description %></br>
  <%= image_tag(item.image) %></br>
<% end %>

Total: <%= @total_price %>
