<h2> Your Cart </h2>
<% @items.each do |id, count| %>
  <% item = Item.find(id) %>
  <%= item.title %>
  <%= item.price %>
  <%= item.description %>
  <%= image_tag(item.image) %>
<% end %>

Total: <%= @total %>
