<div class="container" style="background-color:#e7e8ce; padding: 20px;">
  <h2 class="cart_header"> Your Cart </h2>
  <% @items.each do |id, count| %>
  <div class="row">
    <div class="col-md-3"></div>
    <% item = find_item(id) %>
    <div class="item_<%= item.id %>">
      <div class="col-md-3"><%= image_tag(item.image, class: "img-thumbnail") %></div>
      <div class="col-md-6" style="text-align:left">
        <p>Title: <%= link_to item.title, item_path(item) %></p>
        <p>Price: <span style="color:#a55538"><%= number_to_currency(item.price) %></span></p>
        <p>Description: <%= item.description %></p>
        <p>Quantity: <%= count %>
            <%= link_to "+", cart_path(item_id: item.id, change_type: "increase"), method: "patch", class: "btn btn-success btn-sm" %>
            <%= link_to "-", cart_path(item_id: item.id, change_type: "decrease"), method: "patch", class: "btn btn-warning btn-sm" %>
            <%= link_to "x", cart_path(item_id: item.id), method: "delete", class: "btn btn-danger btn-sm" %>
        </p>
        <p>Subtotal: <%= calculate_subtotal(item.price, count) %></p>
      </div>
    </div>
  </div><hr>
  <% end %>
  <div class="row">
    Total: <%= convert_to_currency(@total_price) %>
  </div>
  <div class="row">
    <% if current_user %>
    <%= link_to "Checkout", orders_path, method: "post", class: "btn btn-success" %>
    <% else %>
    <%= link_to "Login", login_path %> or <%= link_to "Create Account", new_user_path %> to Checkout
    <% end %>
  </div>
</div>
