<div class="container">
  <div class="form-holder">
    <h2>Edit <%= @item.title %> </h2>
    <hr>
    <%= form_for [:admin, @item], class: "form-group" do |f| %>
    <div class="form-inline">
      <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </p>
    </div>
    <div class="form-inline">
      <p class="">
        <%= f.label :description %>
        <%= f.text_field :description %>
      </p>
    </div>
    <div class="form-inline">
      <p class="">
        <%= f.label :image %>
        <%= f.text_field :image %>
      </p>
    </div>
    <div class="form-inline">
      <p class="">
        <%= f.label :price %>
        <%= f.number_field :price, :step => "0.01" %>
      </p>
    </div>
    <div class="form-inline">
      <p class="">
        <%= f.label :retired, "retired", :value => true %>
        <%= f.radio_button :retired, true %>
        <%= f.label :retired, "active", :value => false %>
        <%= f.radio_button :retired, false %>
      </p>
    </div>
      <p><button type="submit" class="btn btn-warning">
        Edit <%= "#{@item.title}" %></button></p>
    <% end %> <br>
  </div>
</div>
